<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Info</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/detailStyle.css">
</head>
<body>
    <div class="container">
        <div class="section flow-text" id="bookDetail">
            <h1>Book Info:</h1>
            <table>
                <tr>
                    <th>Title:</th>
                    <td><%= title%></td>
                </tr>
                <tr>
                    <th>Rating:</th>
                    <td><%= rating%></td>
                </tr>
                <tr>
                    <th>Genre:</th>
                    <td><%= genre%></td>
                </tr>
                <tr>
                    <th>Author:</th>
                    <td><%= author%></td>
                </tr>
            </table>
        </div>

    <div class="section " id="bookControls">
            <a class="btn waves-effect waves-purple light-blue darken-5 modal-trigger left" href="#bookEdit">
                <i class="material-icons right">build</i>Edit
            </a>
            <a class="btn waves-effect waves-red red accent-1 right" href="/inventory/detail/<%= id %>/delete">
                <i class="material-icons right">delete_forever</i>Delete
            </a>
        </div>

    </div>
    
    <div id="bookEdit" class="modal">
        <div class="modal-content">
            <h4>Edit Book:</h4>
            <!-- id not truly needed w/o multiple forms -->
            <form method="post" action="/inventory/detail/<%= id %>">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="title">Book Name:</label>
                        <input type="text" name="title" value="<%= title%>" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="rating">Rating:</label>
                        <input type="number" min="1" max="5" step="0.5" name="rating" value=<%= rating%> >
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="genre">
                            <!-- <option value="" disabled selected>Genre</option> -->
                            <option value=<%= genre%> ><%= genre%></option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Fiction">Fiction</option>
                            <option value="Horror">Horror</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Nonfiction">Nonfiction</option>
                            <option value="Sci Fi">Sci Fi</option>
                            <option value="Other">Other</option>
                        </select>
                        <label for="genre">Genre</label>
                    </div>
                    <div class="input-field col s6">
                        <label for="author">Author:</label>
                        <input type="text" name="author" value="<%= author%>">
                    </div>
                </div>
                <div class="modal-footer blue lighten-5">
                    <button class="btn waves-effect waves-light light-blue accent-1" type="submit"><i
                        class="material-icons right">send</i>Submit</button>
                    <a href="#!" class="modal-close waves-effect waves-red red accent-1 btn">
                        <i class="material-icons right">cancel</i>Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script> M.AutoInit();</script>
</body>
</html>